<div class="headofpage">
    <div class="headsessions">
        <h1>Your Booking History</h1>
        <a href="/doctor/get-token"><button>Current Tokens</button></a>
    </div>
    <div class="card-container">
        {{#if isEmpty}}
        <p class="noToken">No past tokens found.</p>
        {{else}}
        {{#each data}}
        <div class="card">
            <!-- Expired Badge -->
            <div class="expired-badge">Expired</div>
            <div class="card-header">
                <h2>{{this.doctorName}}</h2>
                <p class="duty-time">{{this.dutyTime}}</p>
            </div>
            <div class="card-body">
                <p><strong>Appointment Time:</strong> {{this.appointmentTime}}</p>
                <p><strong>Booked On:</strong> {{this.createdAt}}</p>
            </div>
            <div class="card-footer">
                <p><strong>User Name:</strong> {{this.userName}}</p>
                <p><strong>User Email:</strong> {{this.userEmail}}</p>
            </div>
        </div>
        {{/each}}
        {{/if}}
    </div>
</div>