<div class="headofpage">
    <div class="headsessions">
        <h1>Your Booked Tokens</h1>
        <a href="/doctor/get-history-token"><button>History Tokens</button></a>
    </div>
    <div class="card-container">
        {{#if isEmpty}}
        <p class="noToken">No upcoming tokens booked.</p>
        {{else}}
        {{#each data}}
        <div class="card">
            <div class="card-header">
                <h2>{{this.doctorName}}</h2>
                <p class="duty-time">{{this.specialization}}</p>
            </div>
            <div class="card-body">
                <p><strong>Appointment Time:</strong> {{this.appointmentTime}}</p>
                <p><strong>Created At:</strong> {{this.createdAt}}</p>
            </div>
            <div class="card-footer">
                <p><strong>User Name:</strong> {{this.userName}}</p>
                <p><strong>User Email:</strong> {{this.userEmail}}</p>
                {{#if this.isJoinable}}
                <a href="/doctor/video-call?userId={{this.userId._id}}&appointmentId={{this._id}}">
                    <button>Join Video Call</button>
                </a>
                {{/if}}
            </div>
        </div>
        {{/each}}
        {{/if}}
    </div>
</div>