<h1>Your Booked Tokens</h1>
<table>
    <thead>
        <tr>
            <th>Doctor Name</th>
            <th>Duty Time</th>
            <th>Appointment Time</th>
            <th>Created At</th>
            <th>User Name</th>
            <th>User Email</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.doctorName}}</td>
            <td>{{this.dutyTime}}</td>
            <td>{{this.appointmentTime}}</td>
            <td>{{this.createdAt}}</td>
            <td>{{this.userName}}</td>
            <td>{{this.userEmail}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>